.contactItem {
    width: 100%;
    background-color: #191d2b;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.contactItem img{
    padding: 1rem;
    border: 1px solid #037fff;
    border-radius: 5px;
    margin-left: 1rem;
    width: 16%;
}

.contactItem__right {
    margin-left: 1rem;
}

.contactItem__right h6{
    font-size: 1.4rem;
    font-weight: 500;
}

.contactItem__right p{
    color: #fff;
    font-weight: 800;
}

@media screen and (max-width: 1270px){
    .contactItem{
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 605px){
    .contactItem{
        width: 75%;
    }
}